*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


/*__________________ HEADER ( NAVIGATION PROPERTIES ) __________________*/

header{

    display: flex; /* flex property*/
    width: 90%; /* width of the page */
    margin: auto; /*centering this width */
    height: 10vh; /* height of the header ( navigation ) bar*/
    align-items: center; /* centering it vertical */
}

.logo-container,
.nav-links,
.cart-area{

    display: flex;
    font-size: 18px;
}

/* _____Left side of navigation menu ( logo icon and text "Three Dots" ) _____*/
.logo-container{
    flex:1;
}

.logo-container h4{

    margin: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #2f2f33;
}

/*_______________________*/

nav{
    flex:2;
}

.cart-area{
    flex:1;
    justify-content: flex-end; /*cart logo on far end  */
}

.nav-links{
   justify-content: space-around; /* space from the elements in navigation */
   list-style-type: none;
}

.nav-element{
    text-decoration: none;
    color: #5f5f79;
}

/*________________________________________________________________________*/



/* __________________MAIN SECTION_______________________*/

.laptop-image{

    height: 60vh;
    flex:1;
    margin-right: 40px;
}

.main-container{

    width: 90%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
}

.text-btn-area{

    flex:2;
}

.text-btn-area h1{

    margin-bottom: 25px;
    font-size: 35px;
}

.text-btn-area p{

    width: 89%;
    font-size: 22px;
}

.btn-area{

    padding: 50px 0 0 0;
}

.left-btn{

    height: 58px;
    width: 140px;
    outline: none;
    cursor: pointer;
    background:transparent;
    border:3px solid pink;
    font-size: 18px;
}

.cart-btn{

    height: 58px;
    width: 140px;
    outline: none;
    cursor: pointer;
    background:pink;
    font-size: 18px;
    border: none;
    color: white;
}